.data-map iframe {
  margin-top: 1rem;
  width: 100%;
}

.data-link,
.data-number,
.data-company,
.data-description,
.data-address,
.data-duration,
.data-cost {
  display: block;
  font-size: 22px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-title {
  font-size: 1.5rem;
  margin-bottom: 0;
}