.header {
  background-color: var(--color-header);
  color: var(--color-header-text);
  padding: 2rem;
}

.header-content {
  text-align: center;
}

.main-title {
  font-size: 4rem;
  line-height: 1;
  margin: 0;
  padding: 0 1rem;
}

@media (max-width: 800px) {
  .main-title {
    font-size: 2.5rem;
  }
}