.main,
.body {
  display: flex;
  flex-direction: column;
}

.body {
  background-color: var(--color-timeline);
  color: var(--color-timeline-text);
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  margin-bottom: auto;
}

.section {
  padding: 15px 0;
}

.section-title {
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .main-title {
    font-size: 2.5rem;
  }
}
