.footer {
  background-color: var(--color-secondary);
  padding: 2rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  font-size: 1.125rem;
}

.footer__text:last-child {
  text-align: right;
}

@media (max-width: 800px) {
  .footer-content {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .footer__text:last-child {
    text-align: center;
  }
}