:root {
  --timeline-item-width: 14em;
  --timeline-item-secondary-width: 10em;
  --timeline-size: 0.5rem;
  --gray-lines: #aaaaaa;
  --color-text: wheat;
  --color-timeline: antiquewhite;
  --color-timeline-text:#000;
  --color-header: #c90b0b;
  --color-header-text: wheat;
  --color-footer: #fc5e21;
  --color-footer-text: #000;
  --color-columns: #70146a;
  --color-columns-text: wheat;
}