:root {
  --timeline-item-width: 14em;
  --timeline-item-secondary-width: 10em;
  --timeline-size: 0.5rem;
  --gray-lines: #aaaaaa;
  --body-bg: #fff;
  --color-primary: #c90b0b;
  --color-secondary: #fc5e21;
}